Package: com.egitim.instaplusv2
Name: InstaPlusV2
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Eğitim amaçlı iOS modlama projesi
Maintainer: Egitim
Author: Egitim
Section: Tweaks
